.nav{
    background-color: rgb(238, 94, 11);

}
.nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 30px;
    padding: 50px;
    align-items: center;
    margin-left: 10px;
}

